.title {
    text-align: center;
    margin: 50px;
    color: rgb(37, 37, 37);
}

.form-simple .font-small {
    font-size: 0.8rem; }
  
.form-simple .header {
border-top-left-radius: .3rem;
border-top-right-radius: .3rem; }

.form-simple input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #ff3547;
-webkit-box-shadow: 0 1px 0 0 #ff3547;
box-shadow: 0 1px 0 0 #ff3547; }

.form-simple input[type=text]:focus:not([readonly]) + label {
color: #4f4f4f; }

.form-simple input[type=password]:focus:not([readonly]) {
border-bottom: 1px solid #ff3547;
-webkit-box-shadow: 0 1px 0 0 #ff3547;
box-shadow: 0 1px 0 0 #ff3547; }

.form-simple input[type=password]:focus:not([readonly]) + label {
color: #4f4f4f; }

.form-simple {
    display: flex;
    align-items: center;
    margin: auto;
}

.form-simple-card {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
}

.form-simple-card-body {
    width: 80%;
}

.form-name-age {
    display: flex;
    flex-direction: row;

}

.form-name{
    width: 90%;
}

.form-age{
    width: 90%;
    margin-left: 10%;
}

.form-row {
    margin-top: -2%;
}

